---
useCases:
  Insecure Bank:
    previews:
    - section: Insecure Bank
      description: Banking app deployed
      url: "{{ insecurebank_endpoint }}/insecure-bank"
    guides:
    - description: "Hands on training for insecure bank"
      url: "URL FOR HOT DESCRIPTION"

extRefs:
  Insecure Bank:
    url: "{{ insecurebank_endpoint }}"
    description: "<a href=\"{{ insecurebank_endpoint }}/insecure-bank\">Insecure Bank</a> is used to demonstrate attack protection capabilities within Dynatrace"